*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-details-1 p{
    width: Hug (168px)px;
    height: Hug (35px)px;
    left: 218px;
    padding: 10px;
    gap: 4px;
    border-radius: 24px;
    border: 1px solid#D9D9D9;
    cursor: pointer;
}

.dashboard-details-1 p:hover{
    background-color:#007BFF;
    color: #FFFF;
}

.dashboard-details-1 p:active{
    background-color:#007BFF;
    color: #FFFF;
}

.dashboard-details-2 .form-2{
    width: 1000px;
    height: 582px;
    top: 284px;
    left: 46px;
    gap: 24px;
    border-radius: 16px;
    border: 2px solid #D9D9D9;
    padding-top: 20px;
}

.form-2 .input-3{
    display: flex; 
    margin-left: 20px;
    margin-right: 20px;
    
}

.input-3 .left-input-1,.right-input-1 label{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 20px;
}

.input-2-1{
    margin-left: 20px;
    margin-right: 30px;
}

.input-2-1 .main-input{
    display: flex;
    flex-direction: column;
}

.input-2-1 label{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2E2E2E;

}

.input-2-1 input{
    width: 950px;
    height: 52px;
    padding: 16px 869px 17px 16px;
    border-radius: 8px;
    border: 2px solid #D9D9D9;
    outline: none;
}

.input-3 .left-input-1 input, .right-input-1 input{
    width: 450px;
    height: 52px;
    padding: 16px 329px 17px 16px;
    border-radius: 8px;
    border: 2px solid #D9D9D9;
    background: transparent;
    outline: none;
}

