/* Base Styling */
body {
    font-family: 'inter';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .LandingPage{
    background-color: #fff;
    overflow-y: hidden;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #2E2E2E;
    padding: 1rem 10rem;
    position: sticky;
    top: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .logo img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
  }
  
  .logo-text {
    font-size: 1rem;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #4E4E4E;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #a0aec0;
  }
  
  .demo-button {
    background-color: #007BFF;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 200px;
    text-align: center !important;
  }

  .demo-button:hover{
    width: 210px;
  } 
  
  .demo-button .arrow-icon {
    margin-left: 8px;
  }

  .hero-section{
    background-color: #fff;
    text-align: center;
    padding: 5rem 10rem;
  }
  
  .hero-section h1{
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 57.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2E2E2E;
  }

  .hero-section span{
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 57.6px;
    margin-left: 5px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #007BFF;
  }

  .hero-section p{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6E6E6E;
    margin-top: 10px;
  }

  .hero-section button{
    width: 302px;
    height: 56px;
    padding: 0px;
    gap: 8px;
    border-radius: 8px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

  }

  .sub-info{
    background-color: #fff;
    padding: 2rem 10rem;
    display: flex;
    justify-items: space-between;
  }

  .sub-info-h1{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.73px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2E2E2E;
    background-color: #FFF;
    margin-top: 30px;
  }

  .sub-info .sub-info-div{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .sub-info .sub-info-div img{
    height: 300px;
    border-radius: 8px;
  }

  .sub-info-div h1{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4E4E4E;
  }

  .sub-info-div p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6E6E6E;
    margin-top: 10px;
  }

.sub-info-p{
  background-color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 20px;
  color: #6E6E6E;
}

.why-we-choose h1{
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 38.73px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.why-we-choose p{
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color:#6E6E6E;
}

.why-we-choose-dev{
  padding: 2rem 10rem;
}

.cards{
  display: flex;
  padding: 2rem 10rem;
  cursor: pointer;
}

.FAQ {
  padding: 2rem 15rem;
}

.FAQ h1{
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 38.73px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2E2E2E;
}

.Last-side{
  display: flex;
  align-items: center;
  padding: 2rem 0rem 2rem 6rem;
}

.Last-side img{
  width: 100%;
  height: 406px;
  left: 660px;
}

.Last-side .left-col{
  width: 608px;
  height: 285px;
  top: 161px;
  left: -5px;
  gap: 16px;
}

.Last-side .left-col h1{
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 38.73px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color:#2E2E2E; 
}

.Last-side .left-col p{
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4E4E4E ;
}

.Last-side .demo-button{
  margin-left: -1px;
}

.requestdemo{
  background-color: #007BFF;
  width: 100%;
  height: 423px;
  top: 5842px;
  padding: 95px 205.29px 158.29px 205px;
}

.requestdemo h1{
  font-family: Inter;
  font-size: 106px;
  font-weight: 600;
  line-height: 107.06px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFF;
}


