.progress-bars {
    margin-top:-5px;
    height:300px;
    border-radius: 12px;
    width: 480px;
    border: 1px solid #D9D9D9;
    padding: 10px;
  }
  
  .progress-bar h3{
    margin-top: -10px;
  }

  .progress-bar-container {
    margin-bottom: 10px;
  }
  
  .progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress {
    height: 20px;
    background-color: #4caf50;
    text-align: center;
    color: white;
    border-radius: 5px;
  }